<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>NEXUS 2024</title>
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <meta name='color-scheme' content='light dark' />
    <meta name='supported-color-schemes' content='light dark' />
    <style>
      * { margin: 0; padding: 0; font-family: "Poppins", sans-serif; }
      .main-container { background: #f1f1f1; padding: 2rem 0; width: 100%;
      color:#004080; } .container { width: 100%; max-width: 700px; margin: 0
      auto; } .main { background: #ffffff; padding-bottom: 90px; border-radius:
      6px; padding: 1rem 1rem 2rem; } .header { width: 100%; background-color:
      white; } .header img { width: 80%; max-width: 469px; height: 76px;
      object-fit: contain; margin: auto; display: block; } .main h1 {
      text-align: center; font-size: 22px; line-height: 36.5px; padding-bottom:
      50px; font-weight: bold; color: #004080; } .footer { text-align: center;
      padding-bottom: 100px; padding-top: 40px; } .footer img { width: 34px;
      height: 34px; } p{ margin: 1rem 0; }

    </style>
  </head>
  <body>
    <div class='main-container'>
      <div class='container'>
        <!-- Email header -->
        <div class='header'>
          {{! <img
            src='https://res.cloudinary.com/dtori4rq2/image/upload/v1718049712/file_2024-06-10_19.32.35_o1ieod.png'
            alt="BdMeds' Logo and Alt tag"
          /> }}
        </div>

        <!-- Email Main -->
        <div class='main'>
          <!-- Heading -->
          <h1>Welcome to NEXUS 2024 - Registration Successful</h1>

          <p>Dear <span class='bold'>{{firstName}}</span>,</p>

          <p>Thank you for registering for NEXUS 2024. We are thrilled to have
            you join us for this transformative experience. Your registration
            has been successfully received, and we are looking forward to an
            event filled with innovation, inspiration, and impactful
            connections.</p>

          <p>Stay tuned for more updates as we approach the event. Should you
            have any questions, feel free to reach out to our support team at
            nextilligent@gmail.com</p>

          <p>Once again, welcome to NEXUS 2024 - together, we are shaping the
            future!</p>

          <p>Best Regards,<br /><span class='bold'>The NEXUS 2024 Team</span></p>
        </div>

        <!-- Email Footer -->
        <div class='footer'>
          <!-- Custom HTML button with an icon -->
          <div style='display: flex; justify-content: center;'>
            <a
              href='https://www.linkedin.com/'
              style='display: block; max-width: fit-content; margin: 0 10px;'
            >
              <img
                src='https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=000000'
              />
            </a>

            <a
              href='https://www.instagram.com/'
              style='display: block; max-width: fit-content; margin: 0 10px;'
            >
              <img
                src='https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000'
              />
            </a>

            <a
              href='https://www.tiktok.com/'
              style='display: block; max-width: fit-content; margin: 0 10px;'
            >
              <img
                src='https://img.icons8.com/?size=100&id=118640&format=png&color=000000'
              />
            </a>

            <a
              href='https://x.com/'
              style='display: block; max-width: fit-content; margin: 0 10px;'
            >
              <img
                src='https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000'
              />
            </a>

            <a
              href='https://www.facebook.com/profile'
              style='display: block; max-width: fit-content; margin: 0 10px;'
            >
              <img
                src='https://img.icons8.com/?size=100&id=uLWV5A9vXIPu&format=png&color=000000'
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>