<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>NEXUS 2024</title>
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <meta name='color-scheme' content='light dark' />
    <meta name='supported-color-schemes' content='light dark' />
    <style>
      * { margin: 0; padding: 0; font-family: "Poppins", sans-serif; }
      .main-container { background: #f1f1f1; padding: 2rem 0; width: 100%;
      color:#004080; } .container { width: 100%; max-width: 700px; margin: 0
      auto; } .main { background: #ffffff; padding-bottom: 90px; border-radius:
      6px; padding: 1rem 1rem 2rem; } .main h1 { text-align: center; font-size:
      26px; line-height: 36.5px; padding-bottom: 30px; font-weight: bold; color:
      #004080; } .header { width: 100%; display: flex; justify-content: center;
      align-items: center; padding-bottom: 20px;} .header img { max-width: 60%;
      object-fit: contain; display: block; } .footer { text-align: center;
      padding-bottom: 100px; padding-top: 40px; } .footer img { width: 34px;
      height: 34px; } p{ margin: 1rem 0; } .main .cap {text-transform:
      capitalize;}

    </style>
  </head>
  <body>
    <div class='main-container' style='font-family: Poppins, sans-serif;'>
      <div class='container'>
        <!-- Email header -->

        <!-- Email Main -->
        <div class='main'>
          <!-- Heading -->
          <h1>Welcome to NEXUS 2024 - Registration Successful</h1>

          <div class='header'>
            <center>
              <img
                src='https://res.cloudinary.com/dynopc0cn/image/upload/v1724053540/mailImg_hvohcl.jpg'
                alt='NEXUS Speakers image'
              />
            </center>
          </div>

          <p>Dear <strong class='cap'>{{firstName}}</strong>,</p>

          <p>Thank you for registering for NEXUS 2024. We are thrilled to have
            you join us for this transformative experience. Your registration
            has been successfully received, and we are looking forward to an
            event filled with innovation, inspiration, and impactful
            connections.</p>

          <p>Stay tuned for more updates as we approach the event. Should you
            have any questions, feel free to reach out to our support team at
            nextilligent@gmail.com</p>

          <p>Once again, welcome to NEXUS 2024 - together, we are shaping the
            future!</p>

          <p>Best Regards,<br /><strong class='bold'>The NEXUS 2024 Team</strong></p>
        </div>

        <!-- Email Footer -->
      </div>
    </div>
  </body>
</html>